.my-button {
    margin: 3px;
    background-color: rgb(116, 44, 145);
  }
  
.primary{
  background-color: rgb(155, 52, 196);
}  

.primary:hover {
    background-color: rgb(167, 115, 188);
  }

.danger {
  background-color: orange;
} 

.danger:hover {
  background-color: rgb(245, 189, 86);
} 

.success {
  background-color: rgb(38, 162, 38);
}

.success:hover {
  background-color: rgb(80, 206, 80);
}

.disabled {
  background-color: rgb(232, 232, 232);
  color: rgb(106, 106, 106);
  cursor: not-allowed;
}

.disabled:hover {
  background-color: rgb(196, 196, 196);
  color: rgb(106, 106, 106);
}